// cactus animation
@keyframes cactusAnimate1 {
   0% {
      left: 1950px;
   }
   100% {
      left: -10px;
   }
}
@keyframes cactusAnimate2 {
   0% {
      left: 875px;
   }
   100% {
      left: -10px;
   }
}
// home animation
@keyframes home {
   0% {
      left: 2950px;
   }
   100% {
      left: -100px;
   }
}
// home-away animation
@keyframes home-away {
   0% {
      left: 4300px;
   }
   100% {
      left: -25px;
   }
}
// dino animation
@keyframes jumpDino {
   0% {
      top: 362px;
   }
   50% {
      top: 195px;
   }
   100% {
      top: 362px;
   }
}
@keyframes dino-go-home {
   0% {
      left: 20px;
   }
   100% {
      left: 780px;
   }
}
// cave animation
@keyframes cave {
   0% {
      left: 6200px;
   }
   100% {
      left: 700px;
   }
}
// sun light animation
@keyframes suny-1 {
   0% {
      left: -20px;
      opacity: 0;
   }
   100% {
      left: -35px;
      opacity: 0.8;
   }
}
@keyframes suny-2 {
   0% {
      left: -22px;
      opacity: 0;
   }
   100% {
      left: -37px;
      opacity: 0.8;
   }
}
@keyframes suny-3 {
   0% {
      bottom: 4px;
      left: -10px;
      opacity: 0;
   }
   100% {
      bottom: 0px;
      left: -19px;
      opacity: 0.8;
   }
}
@keyframes suny-4 {
   0% {
      bottom: -10px;
      left: 14px;
      opacity: 0;
   }
   100% {
      bottom: -20px;
      left: 14px;
      opacity: 0.8;
   }
}
@keyframes suny-5 {
   0% {
      bottom: -18px;
      left: 50px;
      opacity: 0;
   }
   100% {
      bottom: -26px;
      left: 50px;
      opacity: 0.8;
   }
}
// clouds animation
@keyframes cloudy {
   0% {
      left: 100%;
   }
   100% {
      left: 0%;
   }
}
@keyframes cloudy-2 {
   0% {
      left: 0%;
   }
   100% {
      left: -100%;
   }
}
// road animation
@keyframes traffic {
   0% {
      left: 100%;
   }
   100% {
      left: -0px;
   }
}
@keyframes traffic-2 {
   0% {
      left: -0px;
   }
   100% {
      left: -100%;
   }
}
// start number animation
@keyframes doNumbers {
   0% {
      background-color: rgb(194, 191, 191);
   }
   100% {
      background-color: snow;
   }
}
