// cactus animation
@keyframes cactusAnimate1 {
   0% {
      left: 1950px;
   }
   100% {
      left: -10px;
   }
}
@keyframes cactusAnimate2 {
   0% {
      left: 875px;
   }
   100% {
      left: -10px;
   }
}
// home animation
@keyframes home {
   0% {
      left: 2950px;
   }
   100% {
      left: -100px;
   }
}
// home-away animation
@keyframes home-away {
   0% {
      left: 4300px;
   }
   100% {
      left: -25px;
   }
}
// dino animation
@keyframes jumpDino {
   0% {
      top: 238px;
   }
   50% {
      top: 175px;
   }
   100% {
      top: 238px;
   }
}
@keyframes dino-go-home {
   0% {
      left: 20px;
   }
   100% {
      left: 780px;
   }
}
// cave animation
@keyframes cave {
   0% {
      left: 6200px;
   }
   100% {
      left: 800px;
   }
}
// sun light animation
@keyframes suny-1 {
   0% {
      left: -10px;
      opacity: 0;
   }
   100% {
      left: -25px;
      opacity: 0.8;
   }
}
@keyframes suny-2 {
   0% {
      left: -10px;
      opacity: 0;
   }
   100% {
      left: -25px;
      opacity: 0.8;
   }
}
@keyframes suny-3 {
   0% {
      bottom: -3px;
      left: -5px;
      opacity: 0;
   }
   100% {
      bottom: -5px;
      left: -11px;
      opacity: 0.8;
   }
}
@keyframes suny-4 {
   0% {
      bottom: -13px;
      left: 14px;
      opacity: 0;
   }
   100% {
      bottom: -18px;
      left: 14px;
      opacity: 0.8;
   }
}
@keyframes suny-5 {
   0% {
      bottom: -14px;
      left: 40px;
      opacity: 0;
   }
   100% {
      bottom: -19px;
      left: 42px;
      opacity: 0.8;
   }
}
// clouds animation
@keyframes cloudy {
   0% {
      left: 100%;
   }
   100% {
      left: 0%;
   }
}
@keyframes cloudy-2 {
   0% {
      left: 0%;
   }
   100% {
      left: -100%;
   }
}
// road animation
@keyframes traffic {
   0% {
      left: 100%;
   }
   100% {
      left: -0px;
   }
}
@keyframes traffic-2 {
   0% {
      left: -0px;
   }
   100% {
      left: -100%;
   }
}
