@import "my-normalize";
@import url("https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap");
@import "animate";

body {
   background: rgb(43, 37, 37);
   width: 920px;
   margin: 0 auto;
   font-family: "Otomanopee One", sans-serif;
   user-select: none;
}
.main {
   display: none;
}

.game {
   position: relative;
   width: 900px;
   height: 500px;
   margin: 20px auto 80px;
   background: rgb(198, 223, 232);
   border-radius: 6px;
   overflow: hidden;
   &:hover {
      cursor: none;
   }
}
#dino {
   width: 150px;
   height: 130px;
   background: url("../images/dinos.png") no-repeat;
   background-size: 150px 130px;
   background-position: center;
   position: absolute;
   top: 362px;
   left: 10px;
   z-index: 5;
}
.dino-go-home {
   animation: dino-go-home 3.5s linear;
}
.jump {
   animation: jumpDino 0.6s ease-out 0s;
}
#cactus-1 {
   width: 34px;
   height: 39px;
   background: url("../images/cactus-1.png") no-repeat;
   background-size: 34px 39px;
   position: absolute;
   left: 1950px;
   top: 383px;
   z-index: 3;
   animation: cactusAnimate1 11s infinite linear;
}
#cactus-2 {
   width: 65px;
   height: 75px;
   background: url("../images/cactus-2.png") no-repeat;
   background-size: 65px 75px;
   position: absolute;
   left: 875px;
   top: 420px;
   z-index: 4;
   animation: cactusAnimate2 2.3s infinite linear;
}
#home {
   z-index: 3;
   position: absolute;
   top: 315px;
   left: 3000px;
   width: 180px;
   height: 140px;
   background: url("../images/home.png") no-repeat;
   background-size: 180px 140px;
   background-position: center;
   animation: home 16s linear;
}
#home-away {
   position: absolute;
   top: 388px;
   left: 4300px;
   width: 55px;
   height: 40px;
   background: url("../images/home-away.png") no-repeat;
   background-size: 55px 40px;
   opacity: 0.6;
   animation: home-away 24s linear;
}
#cave {
   z-index: 4;
   position: absolute;
   left: 700px;
   bottom: -6px;
   width: 260px;
   height: 200px;
   background: url("../images/cave.png") no-repeat;
   background-size: 260px 200px;
   animation: cave 30s linear;
}

#road,
#road-2 {
   z-index: 0;
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 80px;
   display: flex;
   background: rgba(114, 36, 36, 0.556);
   animation: traffic 2.3s infinite linear;
}
#road-2 {
   animation: traffic-2 2.3s infinite linear;
}
.road__details {
   width: 10px;
   height: 6px;
   background: #0008;
   border-radius: 50%;
}
.detail-8 {
   position: absolute;
   top: 22px;
   right: 30px;
}
.detail-7 {
   position: absolute;
   top: 32px;
   right: 130px;
}
.detail-6 {
   position: absolute;
   top: 25px;
   right: 230px;
}
.detail-5 {
   position: absolute;
   top: 35px;
   right: 330px;
}
.detail-4 {
   position: absolute;
   top: 30px;
   right: 430px;
}
.detail-3 {
   position: absolute;
   top: 20px;
   right: 530px;
}
.detail-2 {
   position: absolute;
   top: 40px;
   right: 630px;
}
.detail-1 {
   position: absolute;
   top: 27px;
   right: 730px;
}
.detail-0 {
   position: absolute;
   top: 9px;
   right: 830px;
}

.modal {
   position: absolute;
   top: 38%;
   left: 50%;
   transform: translateX(-50%);
   opacity: 0;
   .modal__text {
      font-size: 35px;
      letter-spacing: 1px;
      text-shadow: 0 0 3px red;
      color: rgb(63, 59, 59);
   }
}
.modal-gg {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translateX(-50%);
   opacity: 0;
   .modal-gg__text,
   .modal-gg__subtext {
      font-size: 36px;
      letter-spacing: 1px;
      text-shadow: 0 0 3px #66fd01;
      color: rgb(63, 59, 59);
      line-height: 38px;
   }
   .modal-gg__subtext {
      font-size: 20px;
      text-align: center;
   }
}
.modal-wp {
   position: absolute;
   top: -100%;
   left: 50%;
   padding: 10px 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   background: blanchedalmond;
   border-radius: 5px;
   transform: translateX(-50%);
   transition: all 3.6s ease-in;
   .modal-wp__text {
      font-size: 36px;
      letter-spacing: 1px;
      color: rgb(63, 59, 59);
      line-height: 72px;
   }
}

.game__sun {
   width: 120px;
   height: 120px;
   background: rgb(253, 255, 121);
   position: relative;
   left: 800px;
   top: -10px;
   border-radius: 50%;
   .sun__light-1,
   .sun__light-2,
   .sun__light-3,
   .sun__light-4,
   .sun__light-5 {
      content: "";
      position: absolute;
      width: 30px;
      height: 7px;
      border-radius: 50%;
      background: rgba(252, 252, 196, 0.796);
   }
   .sun__light-1 {
      bottom: 80px;
      transform: rotate(10deg);
      animation: suny-1 1.2s infinite linear;
   }
   .sun__light-2 {
      bottom: 40px;
      transform: rotate(-13deg);
      animation: suny-2 1.2s infinite linear;
   }
   .sun__light-3 {
      transform: rotate(-50deg);
      animation: suny-3 1.2s infinite linear;
   }
   .sun__light-4 {
      left: 14px;
      bottom: -18px;
      transform: rotate(-73deg);
      animation: suny-4 1.2s infinite linear;
   }
   .sun__light-5 {
      left: 42px;
      bottom: -19px;
      transform: rotate(-106deg);
      animation: suny-5 1.2s infinite linear;
   }
}

.game__clouds,
.game__clouds-2 {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 54px;
   left: 0;
   display: flex;
   animation: cloudy 16s infinite linear;
}
.game__clouds-2 {
   animation: cloudy-2 16s infinite linear;
}
.cloud {
   width: 140px;
   height: 100px;
   background: url("../images/cloud.png") no-repeat;
   background-size: 140px 100px;
   opacity: 0.8;
}
.cloud-1 {
   position: absolute;
   top: 17px;
   right: 5px;
}
.cloud-2 {
   position: absolute;
   top: 37px;
   right: 225px;
}
.cloud-3 {
   position: absolute;
   top: 62px;
   left: 300px;
}
.cloud-4 {
   position: absolute;
   top: 22px;
   left: 120px;
}

.jump-btn {
   z-index: 10;
   padding: 50px;
   max-width: 300px;
   margin: -50px auto 0 auto;
   display: block;
   text-align: center;
   background: bisque;
   color: brown;
   font-size: 64px;
   font-weight: 800;
   cursor: pointer;
   border-radius: 7px;
   font-family: fantasy;
   letter-spacing: 2px;
   &:active {
      transform: scale(0.99);
   }
}
.reload {
   display: block;
   position: relative;
   left: 730px;
   top: -120px;
   object-fit: cover;
   width: 90px;
   height: 90px;
   border-radius: 50%;
   border-color: transparent;
   background: none;
   cursor: pointer;
   img {
      width: 100%;
      height: 100%;
   }
   &:active {
      transform: scale(0.85);
   }
}

.gameForm {
   z-index: 20;
   position: fixed;
   top: 190px;
   left: 50%;
   transform: translateX(-50%);
   width: 800px;
   min-height: 400px;
   margin: 0 auto;
   border-radius: 10px;
   background: #000;
   .gameForm__text {
      text-align: center;
      color: #fff9;
      font-size: 40px;
      letter-spacing: 2px;
      margin-top: 25px;
   }
   .gameForm__name,
   .gameForm__btn {
      display: block;
      margin: 40px auto;
   }
   .gameForm__name {
      margin-top: 40px;
      width: 600px;
      padding: 15px 18px;
      color: rgb(78, 76, 76);
      background: rgb(242, 245, 245);
      font-size: 50px;
      letter-spacing: 5px;
      border-radius: 5px;
      border: none;
      &::-webkit-input-placeholder {
         font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
         text-align: center;
         color: #6664;
      }
      &::-moz-placeholder {
         font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
         text-align: center;
         color: #6664;
      }
   }
   .gameForm__btn {
      padding: 25px 50px;
      border-radius: 10px;
      border: none;
      cursor: pointer;
      letter-spacing: 1.6px;
      font-size: 44px;
      box-shadow: 0px 8px 1px 1px rgb(102, 99, 99);
      transition: 0.1s;
      &:hover {
         background: brown;
         color: #fff;
         box-shadow: 0px 8px 1px 1px rgb(168, 166, 166);
      }
      &:active {
         margin-top: 44px;
         box-shadow: 0px 0px 1px 1px rgb(102, 99, 99);
      }
   }
}
.game__title {
   margin-top: 40px;
   text-align: center;
   color: goldenrod;
   font-family: "Zen Tokyo Zoo", cursive;
   letter-spacing: 3.5px;
   font-size: 50px;
}
