@import url("https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
}

hr {
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  text-decoration: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  padding: 0;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@-webkit-keyframes cactusAnimate1 {
  0% {
    left: 1950px;
  }
  100% {
    left: -10px;
  }
}

@keyframes cactusAnimate1 {
  0% {
    left: 1950px;
  }
  100% {
    left: -10px;
  }
}

@-webkit-keyframes cactusAnimate2 {
  0% {
    left: 875px;
  }
  100% {
    left: -10px;
  }
}

@keyframes cactusAnimate2 {
  0% {
    left: 875px;
  }
  100% {
    left: -10px;
  }
}

@-webkit-keyframes home {
  0% {
    left: 2950px;
  }
  100% {
    left: -100px;
  }
}

@keyframes home {
  0% {
    left: 2950px;
  }
  100% {
    left: -100px;
  }
}

@-webkit-keyframes home-away {
  0% {
    left: 4300px;
  }
  100% {
    left: -25px;
  }
}

@keyframes home-away {
  0% {
    left: 4300px;
  }
  100% {
    left: -25px;
  }
}

@-webkit-keyframes jumpDino {
  0% {
    top: 215px;
  }
  50% {
    top: 105px;
  }
  100% {
    top: 215px;
  }
}

@keyframes jumpDino {
  0% {
    top: 215px;
  }
  50% {
    top: 105px;
  }
  100% {
    top: 215px;
  }
}

@-webkit-keyframes dino-go-home {
  0% {
    left: 20px;
  }
  100% {
    left: 780px;
  }
}

@keyframes dino-go-home {
  0% {
    left: 20px;
  }
  100% {
    left: 780px;
  }
}

@-webkit-keyframes cave {
  0% {
    left: 6200px;
  }
  100% {
    left: 800px;
  }
}

@keyframes cave {
  0% {
    left: 6200px;
  }
  100% {
    left: 800px;
  }
}

@-webkit-keyframes suny-1 {
  0% {
    left: -10px;
    opacity: 0;
  }
  100% {
    left: -25px;
    opacity: 0.8;
  }
}

@keyframes suny-1 {
  0% {
    left: -10px;
    opacity: 0;
  }
  100% {
    left: -25px;
    opacity: 0.8;
  }
}

@-webkit-keyframes suny-2 {
  0% {
    left: -10px;
    opacity: 0;
  }
  100% {
    left: -25px;
    opacity: 0.8;
  }
}

@keyframes suny-2 {
  0% {
    left: -10px;
    opacity: 0;
  }
  100% {
    left: -25px;
    opacity: 0.8;
  }
}

@-webkit-keyframes suny-3 {
  0% {
    bottom: -3px;
    left: -5px;
    opacity: 0;
  }
  100% {
    bottom: -5px;
    left: -11px;
    opacity: 0.8;
  }
}

@keyframes suny-3 {
  0% {
    bottom: -3px;
    left: -5px;
    opacity: 0;
  }
  100% {
    bottom: -5px;
    left: -11px;
    opacity: 0.8;
  }
}

@-webkit-keyframes suny-4 {
  0% {
    bottom: -13px;
    left: 14px;
    opacity: 0;
  }
  100% {
    bottom: -18px;
    left: 14px;
    opacity: 0.8;
  }
}

@keyframes suny-4 {
  0% {
    bottom: -13px;
    left: 14px;
    opacity: 0;
  }
  100% {
    bottom: -18px;
    left: 14px;
    opacity: 0.8;
  }
}

@-webkit-keyframes suny-5 {
  0% {
    bottom: -14px;
    left: 40px;
    opacity: 0;
  }
  100% {
    bottom: -19px;
    left: 42px;
    opacity: 0.8;
  }
}

@keyframes suny-5 {
  0% {
    bottom: -14px;
    left: 40px;
    opacity: 0;
  }
  100% {
    bottom: -19px;
    left: 42px;
    opacity: 0.8;
  }
}

@-webkit-keyframes cloudy {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes cloudy {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

@-webkit-keyframes cloudy-2 {
  0% {
    left: 0%;
  }
  100% {
    left: -100%;
  }
}

@keyframes cloudy-2 {
  0% {
    left: 0%;
  }
  100% {
    left: -100%;
  }
}

@-webkit-keyframes traffic {
  0% {
    left: 100%;
  }
  100% {
    left: -0px;
  }
}

@keyframes traffic {
  0% {
    left: 100%;
  }
  100% {
    left: -0px;
  }
}

@-webkit-keyframes traffic-2 {
  0% {
    left: -0px;
  }
  100% {
    left: -100%;
  }
}

@keyframes traffic-2 {
  0% {
    left: -0px;
  }
  100% {
    left: -100%;
  }
}

body {
  background: #2b2525;
  width: 920px;
  margin: 0 auto;
  font-family: "Otomanopee One", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.main {
  display: none;
}

.game {
  position: relative;
  width: 900px;
  height: 300px;
  margin: 80px auto 80px;
  background: #c6dfe8;
  border-radius: 6px;
  overflow: hidden;
}

.game:hover {
  cursor: none;
}

#dino {
  width: 100px;
  height: 70px;
  background: url("../images/dinos.png") no-repeat;
  background-size: 100px 70px;
  background-position: center;
  position: absolute;
  top: 215px;
  left: 20px;
  z-index: 5;
}

.dino-go-home {
  -webkit-animation: dino-go-home 3.5s linear;
          animation: dino-go-home 3.5s linear;
}

.jump {
  -webkit-animation: jumpDino 0.5s ease-out 0s;
          animation: jumpDino 0.5s ease-out 0s;
}

#cactus-1 {
  width: 20px;
  height: 35px;
  background: url("../images/cactus-1.png") no-repeat;
  background-size: 20px 30px;
  position: absolute;
  left: 1950px;
  top: 230px;
  z-index: 3;
  -webkit-animation: cactusAnimate1 11s infinite linear;
          animation: cactusAnimate1 11s infinite linear;
}

#cactus-2 {
  width: 35px;
  height: 45px;
  background: url("../images/cactus-2.png") no-repeat;
  background-size: 35px 45px;
  position: absolute;
  left: 875px;
  top: 245px;
  z-index: 4;
  -webkit-animation: cactusAnimate2 2.3s infinite linear;
          animation: cactusAnimate2 2.3s infinite linear;
}

#home {
  z-index: 3;
  position: absolute;
  top: 200px;
  left: 3000px;
  width: 100px;
  height: 80px;
  background: url("../images/home.png") no-repeat;
  background-size: 100px 80px;
  background-position: center;
  -webkit-animation: home 16s linear;
          animation: home 16s linear;
}

#home-away {
  position: absolute;
  top: 240px;
  left: 4300px;
  width: 35px;
  height: 25px;
  background: url("../images/home-away.png") no-repeat;
  background-size: 35px 25px;
  opacity: 0.6;
  -webkit-animation: home-away 24s linear;
          animation: home-away 24s linear;
}

#cave {
  z-index: 4;
  position: absolute;
  left: 800px;
  bottom: -6px;
  width: 150px;
  height: 100px;
  background: url("../images/cave.png") no-repeat;
  background-size: 150px 100px;
  -webkit-animation: cave 30s linear;
          animation: cave 30s linear;
}

#road,
#road-2 {
  z-index: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(114, 36, 36, 0.556);
  -webkit-animation: traffic 2.3s infinite linear;
          animation: traffic 2.3s infinite linear;
}

#road-2 {
  -webkit-animation: traffic-2 2.3s infinite linear;
          animation: traffic-2 2.3s infinite linear;
}

.road__details {
  width: 6px;
  height: 2px;
  background: #0008;
  border-radius: 50%;
}

.detail-8 {
  position: absolute;
  top: 7px;
  right: 30px;
}

.detail-7 {
  position: absolute;
  top: 17px;
  right: 130px;
}

.detail-6 {
  position: absolute;
  top: 10px;
  right: 230px;
}

.detail-5 {
  position: absolute;
  top: 20px;
  right: 330px;
}

.detail-4 {
  position: absolute;
  top: 15px;
  right: 430px;
}

.detail-3 {
  position: absolute;
  top: 5px;
  right: 530px;
}

.detail-2 {
  position: absolute;
  top: 25px;
  right: 630px;
}

.detail-1 {
  position: absolute;
  top: 12px;
  right: 730px;
}

.detail-0 {
  position: absolute;
  top: 9px;
  right: 830px;
}

.modal {
  position: absolute;
  top: 38%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
}

.modal .modal__text {
  font-size: 35px;
  letter-spacing: 1px;
  text-shadow: 0 0 3px red;
  color: #3f3b3b;
}

.modal-gg {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
}

.modal-gg .modal-gg__text,
.modal-gg .modal-gg__subtext {
  font-size: 36px;
  letter-spacing: 1px;
  text-shadow: 0 0 3px #66fd01;
  color: #3f3b3b;
  line-height: 38px;
}

.modal-gg .modal-gg__subtext {
  font-size: 20px;
  text-align: center;
}

.modal-wp {
  position: absolute;
  top: -100%;
  left: 50%;
  padding: 10px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: blanchedalmond;
  border-radius: 5px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 3.6s ease-in;
  transition: all 3.6s ease-in;
}

.modal-wp .modal-wp__text {
  font-size: 18px;
  letter-spacing: 1px;
  color: #3f3b3b;
  line-height: 38px;
}

.game__sun {
  width: 80px;
  height: 80px;
  background: #fdff79;
  position: relative;
  left: 830px;
  top: -15px;
  border-radius: 50%;
}

.game__sun .sun__light-1,
.game__sun .sun__light-2,
.game__sun .sun__light-3,
.game__sun .sun__light-4,
.game__sun .sun__light-5 {
  content: "";
  position: absolute;
  width: 16px;
  height: 5px;
  border-radius: 50%;
  background: #fcfcc4;
}

.game__sun .sun__light-1 {
  left: -25px;
  bottom: 50px;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  -webkit-animation: suny-1 1.2s infinite linear;
          animation: suny-1 1.2s infinite linear;
}

.game__sun .sun__light-2 {
  left: -26px;
  bottom: 20px;
  -webkit-transform: rotate(-13deg);
          transform: rotate(-13deg);
  -webkit-animation: suny-2 1.2s infinite linear;
          animation: suny-2 1.2s infinite linear;
}

.game__sun .sun__light-3 {
  left: -11px;
  bottom: -5px;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
  -webkit-animation: suny-3 1.2s infinite linear;
          animation: suny-3 1.2s infinite linear;
}

.game__sun .sun__light-4 {
  left: 14px;
  bottom: -18px;
  -webkit-transform: rotate(-73deg);
          transform: rotate(-73deg);
  -webkit-animation: suny-4 1.2s infinite linear;
          animation: suny-4 1.2s infinite linear;
}

.game__sun .sun__light-5 {
  left: 42px;
  bottom: -19px;
  -webkit-transform: rotate(-106deg);
          transform: rotate(-106deg);
  -webkit-animation: suny-5 1.2s infinite linear;
          animation: suny-5 1.2s infinite linear;
}

.game__clouds,
.game__clouds-2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 20px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: cloudy 16s infinite linear;
          animation: cloudy 16s infinite linear;
}

.game__clouds-2 {
  -webkit-animation: cloudy-2 16s infinite linear;
          animation: cloudy-2 16s infinite linear;
}

.cloud {
  width: 110px;
  height: 70px;
  background: url("../images/cloud.png") no-repeat;
  background-size: 110px 70px;
  opacity: 0.8;
}

.cloud-1 {
  position: absolute;
  top: 17px;
  right: 5px;
}

.cloud-2 {
  position: absolute;
  top: 37px;
  right: 225px;
}

.cloud-3 {
  position: absolute;
  top: 62px;
  left: 300px;
}

.cloud-4 {
  position: absolute;
  top: 22px;
  left: 120px;
}

.jump-btn {
  z-index: 10;
  padding: 60px;
  max-width: 340px;
  margin: -50px auto 0 auto;
  display: block;
  text-align: center;
  background: bisque;
  color: brown;
  font-size: 38px;
  font-weight: 800;
  cursor: pointer;
  border-radius: 7px;
  font-family: fantasy;
  letter-spacing: 2px;
}

.jump-btn:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.reload {
  display: block;
  position: relative;
  left: 730px;
  top: -120px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border-color: transparent;
  background: none;
  cursor: pointer;
}

.reload img {
  width: 100%;
  height: 100%;
}

.reload:active {
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
}

.gameForm {
  z-index: 20;
  position: fixed;
  top: 190px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 800px;
  min-height: 400px;
  margin: 0 auto;
  border-radius: 10px;
  background: #000;
}

.gameForm .gameForm__text {
  text-align: center;
  color: #fff9;
  font-size: 40px;
  letter-spacing: 2px;
  margin-top: 25px;
}

.gameForm .gameForm__name,
.gameForm .gameForm__btn {
  display: block;
  margin: 40px auto;
}

.gameForm .gameForm__name {
  margin-top: 40px;
  width: 600px;
  padding: 15px 18px;
  color: #4e4c4c;
  background: #f2f5f5;
  font-size: 50px;
  letter-spacing: 5px;
  border-radius: 5px;
  border: none;
}

.gameForm .gameForm__name::-webkit-input-placeholder {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
  color: #6664;
}

.gameForm .gameForm__name::-moz-placeholder {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
  color: #6664;
}

.gameForm .gameForm__btn {
  padding: 25px 50px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  letter-spacing: 1.6px;
  font-size: 44px;
  -webkit-box-shadow: 0px 8px 1px 1px #666363;
          box-shadow: 0px 8px 1px 1px #666363;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.gameForm .gameForm__btn:hover {
  background: brown;
  color: #fff;
  -webkit-box-shadow: 0px 8px 1px 1px #a8a6a6;
          box-shadow: 0px 8px 1px 1px #a8a6a6;
}

.gameForm .gameForm__btn:active {
  margin-top: 44px;
  -webkit-box-shadow: 0px 0px 1px 1px #666363;
          box-shadow: 0px 0px 1px 1px #666363;
}

.game__title {
  margin-top: 40px;
  text-align: center;
  color: goldenrod;
  font-family: "Zen Tokyo Zoo", cursive;
  letter-spacing: 3.5px;
  font-size: 50px;
}
